<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Production Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders in Progress</h5>
                    <p class="card-text" th:text="${inProgressOrders}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Machine Status</h5>
                    <ul>
                        <li th:each="machine : ${machines}" th:text="${machine.name + ': ' + machine.status}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>