        .board-table {
            border-collapse: collapse;
            width: 100%;
        }

        .board-table th, .board-table td {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        .topbar {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: silver;
            border-radius: 5px;
            height: 50px;
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .menu a {
            text-decoration: none;
            padding: 15px 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .menu a.active {
            font-weight: bold;
            color: black;
            background-color: white;
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 10px;
        }

        .search-box-group {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .btn2 {
            margin-left: auto;
            padding: 8px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .