<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자재 상세 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/poread.css}">
</head>
<body>
<header>
    <div class="t-bar">
        <h1>자재 상세</h1>
    </div>
</header>
<table>
    <tr>
        <th>고유번호</th>
        <td th:text="${mread.mid}"></td>
    </tr>
    <tr>
        <th>자재명</th>
        <td th:text="${mread.mname}"></td>
    </tr>
    <tr>
        <th>카테고리</th>
        <td th:text="${mread.mcategory}"></td>
    </tr>
    <tr>
        <th>필요수량</th>
        <td th:text="${mread.mquantity}"></td>
    </tr>
    <tr>
        <th>단가</th>
        <td th:text="${mread.mprice}"></td>
    </tr>
    <tr>
        <th>창고</th>
        <td th:text="${mread.mwarehouse}"></td>
    </tr>
    <tr>
        <th>재고</th>
        <td th:text="${mread.mstockstatus}"></td>
    </tr>
</table>

<div class="btn">
    <!-- Modify 버튼은 <a> 태그로 대체하여 GET 방식으로 페이지 이동 -->
    <a th:href="@{/materials/material_modify/{orderId}(orderId=${mread.mid})}" class="btn-class modify-btn">Modify</a>

    <!-- Delete 버튼은 POST 방식으로 처리 -->
    <form method="post" th:action="@{/orders/remove}">
        <input type="hidden" name="id" th:value="${mread.mid}"/> <!-- 삭제할 주문 ID -->
        <button type="submit" class="btn-class delete-btn">Delete</button>
    </form>

    <button type="button" class="btn-class back-btn" onclick="window.location.href='/materials';">Back</button>
</div>

</body>
</html>
