<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr th:each="order : ${orders}">
            <td th:text="${order.carModel}"></td>
            <td th:text="${order.quantity}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td th:text="${order.processType}"></td>
            <td th:text="${order.startDate}"></td>
            <td th:text="${order.endDate}"></td>
            <td th:text="${order.progress}"></td>
        </tr>
    </table>

</body>
</html>