<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 상세 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/poread.css}">
</head>
<body>
<header>
    <div class="t-bar">
        <h1>주문 수정</h1>
    </div>
</header>
<form th:action="@{/orders/modify/{id}(id=${productionorderread.id})}" method="post">
<table>
    <th>Model</th>
    <td>
        <input type="text" name="carModel" th:value="${productionorderread.carModel}">
    </td>
    <tr>
        <th>Order status</th>
        <td th:text="${productionorderread.orderStatus}"></td>
    </tr>
    <tr>
        <th>Process type</th>
        <td th:text="${productionorderread.processType}"></td>
    </tr>
    <tr>
        <th>Progress</th>
        <td th:text="${productionorderread.progress}"></td>
    </tr>
    <th>Quantity</th>
    <td>
        <input type="number" name="quantity" th:value="${productionorderread.quantity}">
    </td>
    <tr>
        <th>STARTDATE</th>
        <td th:text="${productionorderread.startDate}"></td>
    </tr>
    <tr>
        <th>ENDDATE</th>
        <td th:text="${productionorderread.endDate}"></td>
    </tr>
</table>
    <!-- 수정 버튼 (Submit 버튼으로 변경) -->
    <div class="btn">
        <button type="submit" class="btn-class modify-btn">Modify</button>
        <!-- 돌아가기 버튼 -->
        <button type="button" class="btn-class back-btn" onclick="history.back();">Back</button>
    </div>
</form>
</body>
</html>
